body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #00401c;
}
#heading {
  background-color:#006c3a;
  color:#00da7d;
  width: 90em;
  height: 4em;
  margin-bottom: 1em;
  padding-bottom: 0.2em;
}
#title{
  text-align: left;
  font-family: Courier,Verdana;
  padding-left: 0.2em;
  padding-top: 0.2em; 
  padding-bottom: 0.2em; 
  display:inline-block;
}
#logo{
  display:inline-block;
  padding-left: 0.7em;
  padding-top: 0.2em; 
  padding-bottom: 0.2em; 
  display:inline-block; 
}
#tittlel{
  text-decoration:none;
  color:#00da7d;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  float:right;
  margin-top: 0em;
}

#ttitle{
  border: 0em;
  text-align: center;
  padding: 0.5em;
  background-color: #005933;
  color:#00da7d;
  text-size:2em;
}
#ttitle:hover{
  border: 0em;
  text-align: center;
  padding: 0.5em;
  background-color: #00da7d;
  color:#005933;
  text-size:2em;
}


td, th {
  border: 0em;
  text-align: center;
  padding: 1em;
}


tr:nth-child(odd) {
  
  background-color: #00e14f;
  color:#003011;  
}
tr:nth-child(odd):hover {
  
  background-color: #003011;
  color:#00e14f;  
}

tr:nth-child(even) {
  background-color: #009836;
  color:#003011; 

}
tr:nth-child(even):hover {
  background-color: #003011;
  color:#009836; 

}


h1, h3, h4 {
  text-align: center;
  background-color:#006c3a;
  color:#00da7d;
}



#map {
  height: 39em;
  width: 55em; 
  border: 0.1em solid black;
  position:absolute;
  margin-left:1em

}
#pdata{
  height: 15em;
  width: 25em;
  background-color:#ffffff;
  padding-left: 1em;
  padding-right:1em;
  border: 0.1em solid black;
  position:absolute;
  margin-left: 59.5em;


}
#mapd {
  width: 100em;
  height:40em;
  display:block;

}

#all{
  margin:0 auto;
  width: 90em;
  background-color:#ffffff;
}
h3 span{
  color:#00ff70;
}
p span{
  color:#00ac4b;
}
#long{
  color:#ec2191;
}
#lati{
  color:#ec2191;
}
#time{
  color:#ec2191;
}