<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="/static/historic/stylesheet.css" />
        <link type="text/css" rel="stylesheet" href="/static/historic/stats.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        <script type="text/javascript" src="/static/historic/canvasjs.min.js"></script>
        <script type="text/javascript">
            var tmp = [];
            var val = [];
            var prett = {};
            var truck = "1";

            function getValuesAndPlot(idT, taskid, lower, upper){
                window.alert(taskid);
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (xhttp.readyState == 4 && xhttp.status == 200) {
                        getData(xhttp.responseText);
                    }
                };
                xhttp.open("GET", "/historic/rx/stats/"+lower+"/"+upper+"/"+taskid+"/"+idT+"/", true);
                xhttp.send();
            }
            function getData(input){

                prett = JSON.parse(input);
                tmp = prett.x.split(";");
                val = prett.y.split(";");
                window.alert(val)
                window.alert(tmp)
                draw(tmp,val);
            }

            function draw(x,y)
            {
                var data = [];
                for(i=0;i<tmp.length;i++){
                    data.push({
                            x: parseInt(tmp[i]),
                            y: parseInt(val[i]),
                        });
                }
                
                var chart = new CanvasJS.Chart("chart", {
                    title: {
                        text: "Valores X vs. Valores Y"
                    },
                    axisX: {
                        title: "Valores X",
                    },
                    axisY: {
                        title: "Valores Y",
                    },
                    data: [{type: "line", dataPoints: data}],
                });
                chart.render();
            }

            function drawChart() {
                var lower = document.getElementById('lower_lim').value;
                var upper = document.getElementById('upper_lim').value;
                var taskid = document.getElementById("taskid");
                taskid = taskid.options[taskid.selectedIndex].value;
                var e = document.getElementById("truck");
                truck = e.options[e.selectedIndex].value;

                if(lower >= upper || lower == "" || upper == "") {
                    alert("Por favor ingrese una combinación de fechas válida");
                }else {
                    lower += ":00";
                    upper += ":00";
                    getValuesAndPlot(truck, taskid, lower, upper);
                }
            }
        </script>
    </head>
    <body>
        <div id="heading">
          <div id="head1">
            <!--<div id="logo"><img src="/static/finder/logo.png" /></div>-->
            <div id="title"><h1 >Enomoto</h1></div>
            <div id="stance"><h5 >Historic records of your vehicle</h5></div>
            <div class="histopanel">
              <ul>
                 <li><img src="/static/historic/miconm.png"/><a href="/finder">Main</a></li>
                 <!--<li><a href="/historic">Info</a></li>-->
              </ul>
            </div> 
          </div>
        </div>
        <div id="selector">
            <select id="truck">
                <option value="1" >Truck 1</option>
                <option value="2" >Truck 2</option>
            </select>
            <select id="taskid">
              <option value="1">Trouble codes</option>
              <option value="2">Engine RPM</option>
              <option value="3">Engine load</option>
              <option value="4">Fuel pressure</option>
              <option value="5">Vehicle speed</option>
              <option value="6">Throttle position</option>
              <option value="7">Time since engine start</option>
              <option value="8">Distance Traveled</option>
              <option value="9">Battery voltage</option>
            </select>
            
            Initial date:
            <input type="datetime-local" name="bdaytime" id="lower_lim">
            final date:
            <input type="datetime-local" name="bdaytime" id="upper_lim">
            <button type="button" onclick="drawChart()">Search</button>
            </div>
        <div id="chart">
            
        </div>
        <div id="recomendaciones">
            <span id="ad">In the select box choose the value you want to see in the Chart, giving an accurate date range</span>
        </div>
    </body>
</html>