<!DOCTYPE html>
<html lang="en">
<head>
  <title>ENOMOTO Main Page</title>
  <meta charset="utf-8">
  <meta name="description" content="The Enomoto Main Page">
  <meta name="author" content="Mateus, Sibaja">
  <link type="text/css" rel="stylesheet" href="/static/historic/stylesheet.css" />
  <link type="text/javascript" src="/static/historic/map.js" />
  <link rel="shortcut icon" href="/static/historic/favicon.ico" type="image/x-icon" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
<div id="heading">
  <div id="head1">
    <!--<div id="logo"><img src="/static/finder/logo.png" /></div>-->
    <div id="title"><h1 >Enomoto</h1></div>
    <div id="stance"><h5 >Historic records of your vehicle</h5></div>
    <div class="histopanel">
      <ul>
         <li><img src="/static/historic/miconm.png"/><a href="/finder">Main</a></li>
         <!--<li><a href="/historic">Info</a></li>-->
      </ul>
    </div> 
  </div>
</div>
<div id="all">
  <div id="mapd" class="container">
    <div id="map" class="fixed">
      <script  src="/static/historic/map.js" ></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCREYEOrU09R-W-A0ByBlymc-pZWFuwLec&callback=initMap" async defer></script>
    </div>
    <div id="pdata" class="flex-item">
      <p>Seleccione el camion del cual quiere obtener información</p>
      <!--<select id="truck" onchange = "getTruck()">
        <option value="truck1" >Truck 1</option>
        <option value="truck2" >Truck 2</option>
      </select>-->
      <form id="truckSelect">
        <input type="checkbox" name="truck1" value="truck1" id="truck1" onclick = "getTruck()"> Truck 1<br>
        <input type="checkbox" name="truck2" value="truck2" id="truck2" onclick = "getTruck()"> Truck 2<br>
      </form>
      <form id="contactForm">
        Enter lower limit:<br>
        <input type="datetime-local" name="bdaytime" id="lower_lim"><br><br>
        Enter upper limit:<br>
        <input type="datetime-local" name="bdaytime" id="upper_lim"><br><br>
      </form>
      <button type="button" onclick="getDateInterval()">Buscar</button>
      <p id="info_panel">Puede Hacer <span>click</span> en el mapa para mostrar coordenadas en ese punto del mapa</p>

      <p id="cant"></p>
    </div>
  </div>
</div>
</body>
</html>
