<!DOCTYPE html>
<html lang="en">
<head>
  <title>ENOMOTO Main Page</title>
  <meta charset="utf-8">
  <meta name="description" content="The Enomoto Main Page">
  <meta name="author" content="Mateus, Sibaja">
  <link type="text/css" rel="stylesheet" href="/static/historic/stylesheet.css" />
  <link type="text/javascript" src="/static/historic/map.js" />
  <link rel="shortcut icon" href="/static/historic/favicon.ico" type="image/x-icon" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
<div id="heading">
  <div id="head1">
    <!--<div id="logo"><img src="/static/finder/logo.png" /></div>-->
    <div id="title"><h1 >Enomoto</h1></div>
    <div id="stance"><h5 >Historic records of your vehicle</h5></div>
    <div class="histopanel">
      <ul>
         <li><a href="/finder">Main</a></li>
         <!--<li><a href="/historic">Info</a></li>-->
      </ul>
    </div> 
  </div>
</div>
<div id="all">
  <div id="mapd" class="container">
    <div id="map" class="fixed">
      <script  src="/static/historic/map.js" ></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCREYEOrU09R-W-A0ByBlymc-pZWFuwLec&callback=initMap" async defer></script>
    </div>
    <div id="pdata" class="flex-item">
      <form id="contactForm">
        Enter upper limit:<br>
        <input type="date" name="bday" id="upper_lim"><br><br>
        Enter lower limit:<br>
        <input type="date" name="bday" min="2000-01-02" id="lower_lim"><br><br>
      </form>
      <button type="button" onclick="getDateInterval()">Submit</button>
      <p>Puede hacer <span>click</span> en un marcador para obtener su ubicación</p>
      <p><span>Longitud</span>:<span id="long">0.0</span></p>
      <p><span>Latitud</span>:<span id="lati">0.0</span></p>
    </div>
  </div>
</div>
</body>
</html>
