body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #00401c;


}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  float:right;
  margin-top: 0em;
}

#ttitle{
  border: 0em;
  text-align: center;
  padding: 0.5em;
  background-color: #005933;
  color:#00da7d;
  text-size:1em;
}

td, th {
  border: 0em;
  text-align: center;
  padding: 1em;
  background-color: #00963d;
  color:#00da7d;  
}

tr:nth-child(even) {
  background-color: #005933;
  color:#00da7d;
}

h1, h3, h4 {
  text-align: center;
  background-color:#006c3a;
  color:#00da7d;
}



#map {
  height: 39em;
  width: 55em; 
  border: 0.1em solid black;
  position:absolute;
  margin-left:1em

}
#pdata{
  height: 15em;
  width: 25em;
  background-color:#ffffff;
  padding-left: 1em;
  padding-right:1em;
  border: 0.1em solid black;
  position:absolute;
  margin-left: 65em;


}
#mapd {
  width: 100em;
  height:40em;
  display:block;

}

#tabler{
  clear:both;
}

#all{
  margin:0 auto;
  width: 100em;
  background-color:#ffffff;
}
h3 span{
  color:#00ff70;
}
p span{
  color:#00ac4b;
}
#long{
  color:#ec2191;
}
#lati{
  color:#ec2191;
}
#time{
  color:#ec2191;
}