body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #00401c;
}
#heading {
  background-color:#006c3a;
  color:#00da7d;
  width: 80em;
  height: 4em;
  margin-bottom: 1em;
  padding-bottom: 0.2em;
}
#title{
  text-align: left;
  font-family: Courier,Verdana;
  padding-left: 0.2em;
  padding-bottom: 0.2em; 
  display:inline-block;
}
#stance{
  text-align: left;
  font-family: Courier,Verdana;
  padding-left: 0.1em;
  padding-bottom: 0.2em; 
  display:inline-block;
}
#logo{
  display:inline-block;
  padding-left: 0.7em;
  padding-top: 0.2em; 
  padding-bottom: 0.2em; 
  display:inline-block; 
}
#histo{
  width:2em;
  height: 2em;
  float:right;
  display:inline-block;
  margin-top:1em;
  margin-bottom: 1em;
  margin-right: 1em;
  text-align:center;
  border-radius:0.0001em;
  padding:0.1em 0.1em 0.1em 0.1em;
}
#histo img:hover{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */

}


h1, h3, h4 {
  text-align: center;
  background-color:#006c3a;
  color:#00da7d;
}



#map {
  height: 35em;
  width: 50em; 
  border: 0.1em solid black;
  position:absolute;
  margin-left:1em

}
#pdata{
  height: 15em;
  width: 25em;
  background-color:#ffffff;
  padding-left: 1em;
  padding-right:1em;
  border: 0.1em solid black;
  position:absolute;
  margin-left: 52em;


}
#mapd {
  width: 80em;
  height:37em;
  display:block;

}

#all{
  margin:0 auto;
  width: 80em;
  background-color:#ffffff;
}
h3 span{
  color:#00ff70;
}
p span{
  color:#00ac4b;
}
#long{
  color:#ec2191;
}
#lati{
  color:#ec2191;
}
#time{
  color:#ec2191;
}
@font-face {
    font-family: 'cartoonregular';
    src: url('/static/finder/cartoon_regular-webfont.eot');
    src: url('/static/finder/cartoon_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/finder/cartoon_regular-webfont.woff2') format('woff2'),
         url('/static/finder/cartoon_regular-webfont.woff') format('woff'),
         url('/static/finder/cartoon_regular-webfont.ttf') format('truetype'),
         url('/static/finder/cartoon_regular-webfont.svg#cartoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}